/* everything below is for the navbar */

.bar-at-top {
    background-color: #5C534A;
    height: 35px;
    width: 100%;
}

.topper {
    background-color: #392000;
    margin-top: 55px;
    height: 160px;
    display: flex;
    margin-bottom:20px;
}

.navbar-brand {
    margin: auto 0;
}

.logo {
    width: 140px;
}

.school-name {
    color: #AA865B;
}

.background-color {
    background-color: #AA865B;
}


/* ---------------everything above is for the navbar ---------------*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper{
    width: 100%;
    float: left;
    display: flex;
    

    
    
}

.card{
    min-height: 60px;
    width: 400px;
    border-radius: 20px;
    background-color: bisque;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 
    0 0 50px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin: 0px 50px 0px 50px;
    text-align: center;
}

.info{
    display: flex;
    
}

.grade{
    padding-left: 20px;
    font-size: 80px;
}

.profile{
    width: 350px;
    
}

/* ----------------footer is below ---------------- */

.footer {
    color: #AA865B;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #392000;
    padding: 8px 0 5px 0px;
    border: solid;
    /* flex-basis: 100vh; */
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Arial;
    margin-top:20px;
}

.footer p {
    align-self: center;
    padding: 0 0;
    margin: 2px 0;
    text-align: center;
}

.footer-link-list {
    display: flex;
    justify-content: center;
    margin: 0px 0 5px 0;
}

.footer a {
    color: #AA865B;
    /* text-decoration:none; */
}

.footer li {
    margin: 0px 20px;
}


/* -----------footer is above ----------------- */