/******************* style for login page ***************/
* {
    margin: 0;
    border: 0;
}

.loginHeader{
    background-color: #AA865B;
    border: 2px solid blue;
    
}

.loginContainerDiv{
    border: 5px solid red;

    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainBox1{
    flex: 1;
    justify-content: center;
}
.mainBox2{
    flex: 1;
}

.loginFooter{
    height: 50px;
    background: 10px solid green;

    /* Flex */
    display: flex;
}

/*****************************************************/