/******************* style for login page ***************/
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainDivFlex{
    
}

/*****************************************************/