/* everything below is for the navbar */
.bar-at-top {
    background-color: #5C534A;
    height: 35px;
    width: 100%;
}

.topper {
    background-color: #392000;
    margin-top: 55px;
    height: 160px;
    display: flex;
}

nav {
    /font-family: Georgia, 'Times New Roman', Arial; /* <----- this is font for writing/smaller paragrapgs */
}

.navbar-brand {
    margin: auto 0;

}

.logo {
    width:140px;
}

.school-name {
    color: #AA865B;
    font-family: Verdana, 'Times New Roman';  /* <----this is fonts for headings */
}


.background-color {
    background-color: #AA865B;
}

/* everything above is for the navbar */

/* This is for the about us page */

.image-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

  .image-block img {
    width: 50%;
}

  .picBlock {
    display: flex;
    flex-direction: row;
    background-image: url(Images/background.jpg);
    margin: 10px;
}

.textBlock {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 75px;
    

}
